#root {
  width: 100vw;
  height:100vh;
  margin: 0 auto;
  background-color: rgb(225, 250, 249);
  text-align: center;
}



.header{
  font-size:smaller;
  border-bottom: 2px dashed black;
  
}

h1{
  padding-bottom: 0;
  margin-bottom: 0;
}

.header-p{
  font-size:large;
  font-weight: bold;
  margin:5px;
  
}
.search-pokemon{
  margin-top: 10px;
  font-size: large;

}

#search{
  font-size: large;
}

.search-button{
  background-color: rgb(165, 193, 255);
  height:30px;
  padding:5px;
  width:80px;
  line-height: 0;
  vertical-align: middle;
}

.search-button:hover{
  background-color:  rgb(255, 170, 170);
}

.instructions{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px dashed black;
}

.gym-div{
  display:flex;
  flex-direction: row;
  background-color: rgb(225, 250, 249);
  margin-top: 5px;
  padding: 10px;
  gap:10px;
  justify-content: space-around;
  
}

h2{
  font-size:large;
  text-transform: capitalize;
  margin-bottom: 0px;
  text-decoration: underline;
}


h3{
  font-size: smaller;
  text-transform: capitalize;
  
}

.user-card{
  background-color: rgb(165, 193, 255);
  padding: 10px;
  width:200px;
}


.comp-card{
  background-color: rgb(255, 170, 170);
  padding: 10px;
  width:200px;
}

.card-p{
  font-size: small;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  
}

.cardweight-p{
  font-size: large;
}

img{
  width:6em;
  height:6em;
  padding:10px;
  border: 2px solid black;
}

.versus{
  position: absolute;
  font-size:3rem;
  color: orange;
  z-index: 1;
  text-shadow: 2px 2px 2px black;
  transform: skew(15deg,-15deg)
}

.reveal-stats-btn{
  background-color: rgb(165, 193, 255);
  height:30px;
  
  line-height: 0px;
  vertical-align: middle;
}

.reveal-stats-btn:hover{
  background-color:  rgb(255, 170, 170);
}

footer{
  display: flex;
  flex-direction: column;
  padding-top:10px ;
  gap:10px;
  width:fit-content;
  margin:0 auto;
}

.new-battle-btn{
  background-color: rgb(165, 193, 255);
  height:30px;
  
  line-height: 0px;
  vertical-align: middle;
}

.new-battle-btn:hover{
  background-color:  rgb(255, 170, 170);
}

#popup{
  position:absolute;
  background-color: rgb(247, 138, 247);
  width: 300px;
  left:10%;
  display: block;
  font-size: 40px;
  box-shadow: 2px 2px 2px black;
  z-index: 2;
}